input::-moz-placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input::placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input {
  border: 2px solid #B8B8B8;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.grayText {
  color: #8B8B8B;
}

.grayText {
  color: #8B8B8B;
}

.password {
  border: none;
}

div :has(> .password:focus) {
  border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* this is applicable for firefox */
/* input[type=number]{
    -moz-appearance: textfield;
} */
#samplephone {
  font-weight: 550;
}

#p1 {
  font-weight: 620;
  width: 280px;
  line-height: 1.2;
}

.otp_num {
  font-weight: 600;
}

hr {
  border-width: 1.5px;
  border-color: #B8B8B8;
}

.heading {
  font-weight: 500;
}

.button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 100%;
  transition-duration: 1s;
  width: 100%;
  height: 50px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  color: white;
  border-radius: 12px;
  opacity: 0.9;
}

.button:hover {
  box-shadow: none;
  scale: 0.95;
}

a {
  cursor: pointer;
}

.eye path {
  stroke: #B8B8B8;
}

.eye:hover path {
  stroke: #223F80;
}

#password {
  font-weight: 400;
}

.invalid {
  /* visibility: visible; */
  color: #BB2230;
  font-size: 12px;
  margin: 0px;
}

li::marker {
  font-size: 10px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

.grid-container {
  width: 240px;
  border: 1.5px dashed #929292;
  border-radius: 11px;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.grid-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(34, 63, 128, 0.4);
  padding: 5px;
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #223F80;
}

.emptyInfo {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.tickBox {
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.tickBox .tickButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #B8B8B8;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-top: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down {
  margin-top: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}

.mobBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mobBox .required {
  margin: 0px;
  color: #BB2230;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: black;
  opacity: 1;
  display: block;
  background: url("../images/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

#Client {
  font-family: "Montserrat";
  font-style: normal;
  position: static;
  padding: 0px;
  background-color: white;
  overflow: hidden;
}
#Client .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 89px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
}
#Client .navbar .profile {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 20px;
  width: 60px;
  height: 60px;
  background: #223F80;
}
#Client .navbar .profile #profileName {
  margin: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 700;
}
#Client .navbar .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-right: 20px;
}
#Client .navbar .icons .icon {
  margin: 8px;
}
#Client .navbar .icons .iconBox {
  display: block;
  position: relative;
}
#Client .navbar .icons .iconBox #notifCircle {
  display: block;
  position: absolute;
  border-radius: 13px;
  top: 0px;
  right: 0px;
  width: 13px;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid white;
}
#Client .navbar .icons .iconBox #notifCircle path {
  fill: #BB2230;
}
#Client #personalInfo {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden scroll;
  font-family: "Montserrat";
  font-style: normal;
  padding-top: 0px;
  background-color: white;
}
#Client #personalInfo #backButtonDiv {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
}
#Client #personalInfo #backButtonDiv #backButton {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Client #personalInfo #backButtonDiv #backButton svg path {
  border: 2px solid rgba(0, 0, 0, 0.79);
  fill: rgba(0, 0, 0, 0.7882352941);
}
#Client #personalInfo .profileDiv {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #personalInfo .profileDiv p {
  color: #223F80;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #223F80;
}
#Client #personalInfo .inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #personalInfo .inputField .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  width: 272px;
  color: #223F80;
  margin-left: 5px;
}
#Client #personalInfo .inputField .field {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  width: 272px;
  height: 40px;
  border: 2px solid #B8B8B8;
  border-radius: 12px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#Client #personalInfo .inputField .dropDownDiv {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Client #personalInfo .inputField .dropDownDiv img {
  margin-right: 10px;
}
#Client #personalInfo .inputField .dropDownDiv select {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 0px;
}
#Client #personalInfo .inputField .dropDownDiv select:focus {
  outline: none;
}
#Client #personalInfo .inputField #dobField {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#Client #personalInfo .inputField #dobField #calendarDiv {
  margin-top: 8px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #223F80;
  border-radius: 12px;
  height: 47px;
  width: 47px;
}
#Client #personalInfo .inputField .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Client #personalInfo .inputField .date input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  padding-left: 15px;
  width: 272px;
  border: none;
}
#Client #personalInfo .inputField .date #calender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 48px;
  background: #223F80;
  border-radius: 12px;
}
#Client #personalInfo .inputField .field:invalid:focus {
  border: 1px solid red;
}
#Client #personalInfo .inputField #saveButton {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 270px;
  height: 50px;
  font-family: "Montserrat";
  margin: 10px 0px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  border-radius: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
#Client #personalInfo .inputField #saveButton:hover {
  box-shadow: none;
  scale: 0.95;
}
#Client #main {
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px 10px;
}
#Client #main #addTaskScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #main #addTaskScreen #addTaskDiv {
  position: relative;
  width: 330px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 15px;
  background-color: white;
}
#Client #main #addTaskScreen #addTaskDiv #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Client #main #addTaskScreen #addTaskDiv #portion1 #closeIcon {
  border-radius: 20px;
  height: 24px;
  margin: 10px;
  padding: 0px;
}
#Client #main #addTaskScreen #addTaskDiv #portion1 #delete {
  margin: 10px;
}
#Client #main #addTaskScreen #addTaskDiv #title {
  border: none;
  border-bottom: 2px solid #223F80;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 input {
  width: 232px;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #desc {
  margin-top: 20px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #desc:focus {
  outline: none;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv {
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv img {
  margin: 5px;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv .field {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv .field input {
  padding: 5px;
  width: 130px;
  height: 18px;
  border: 1.5px solid #B8B8B8;
  border-radius: 8px;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv p {
  margin-top: 40px;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: start;
  font-size: 14px;
  color: #223F80;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #fieldDiv p a {
  color: #BB2230;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #outcome {
  margin-top: 0px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#Client #main #addTaskScreen #addTaskDiv #portion2 #outcome:focus {
  outline: none;
}
#Client #main #addTaskScreen #addTaskDiv #save {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #223F80;
}
#Client #main #completedTaskScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #main #completedTaskScreen #completedTaskDiv {
  position: relative;
  width: 330px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 15px;
  background-color: white;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion1 #closeIcon {
  border-radius: 20px;
  height: 24px;
  margin: 10px;
  padding: 0px;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion1 #delete {
  margin: 10px;
}
#Client #main #completedTaskScreen #completedTaskDiv #title {
  border: none;
  border-bottom: 2px solid #223F80;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 input {
  width: 232px;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #desc {
  margin-top: 20px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #desc:focus {
  outline: none;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv {
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv .field {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv .field input {
  padding: 5px;
  width: 300px;
  height: 18px;
  border: 1.5px solid #B8B8B8;
  border-radius: 8px;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv p {
  margin-top: 40px;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: start;
  font-size: 14px;
  color: #223F80;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv p a {
  color: #BB2230;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #outcome {
  margin-top: 0px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#Client #main #completedTaskScreen #completedTaskDiv #portion2 #outcome:focus {
  outline: none;
}
#Client #main #completedTaskScreen #completedTaskDiv #save {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #223F80;
}
#Client #main #add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  box-shadow: none;
  background-color: transparent;
}
#Client #main #add img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px;
}
#Client #main #info {
  height: 120px;
  width: 100vw;
  background: linear-gradient(31.88deg, #223F80 -3.29%, #444584 51.7%, #BB2230 109.03%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#Client #main #info #portion1 {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#Client #main #info #portion1 #portion1Left {
  margin: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#Client #main #info #portion1 #portion1Left #deets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
#Client #main #info #portion1 #portion1Left #deets p {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#Client #main #info #portion1 #portion1Left #deets #edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#Client #main #info #portion1 #portion1Left #deets #edit #name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
#Client #main #info #portion1 #portion1Left #deets #designation {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #C2C2C2;
}
#Client #main #info #portion1 #portion1Left #deets #statusDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
#Client #main #info #portion1 #portion1Left #deets #statusDiv #statusDot {
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 15px;
  font-weight: 900;
  color: #6BDA7D;
}
#Client #main #info #portion1 #portion1Left #deets #statusDiv #statusTxt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #6BDA7D;
}
#Client #main #info #portion1 #portion1Right {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#Client #main #info #portion1 #portion1Right #dateBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Client #main #info #portion1 #portion1Right #dateBox #dateTxt {
  margin-right: 10px;
  text-align: center;
  padding: 4px 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
#Client #main #info #portion1 #portion1Right #edit {
  display: none;
  text-align: center;
  padding: 3px 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #223F80;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
}
#Client #main #info #portion2 {
  width: 100%;
  padding: 10px;
  padding-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#Client #main #info #portion2 .contact {
  margin: 0px 5px;
  padding: 0px 3px;
  width: 71px;
  height: 23px;
  border: 2px solid #FFFFFF;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#Client #main #statusBar {
  width: 100vw;
  background-color: transparent;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#Client #main #statusBar #statusButton {
  z-index: 1;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 15px;
  align-items: flex-end;
  color: #6D7593;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Client #main #statusBar #statusButton .statusButton {
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #6D7593;
  width: 33.333%;
  text-align: center;
  border-bottom: 2px solid #6D7593;
}
#Client #main #statusBar #statusButton .statusButton:focus {
  color: #223F80;
  font-weight: 600;
  border-bottom: 2px solid #253564;
}
#Client #main #statusBarEdge {
  width: 100vw;
  margin: 0px;
  border: 1px solid rgba(37, 53, 100, 0.4);
}

#kycStatus {
  display: none;
}

#infoContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding-bottom: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#infoContent .infoLabel {
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: rgba(34, 63, 128, 0.75);
}
#infoContent .infoDiv {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px dashed #929292;
  border-radius: 11px;
}

#notesContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 38px 25px;
  padding-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 85%;
  display: none;
}
#notesContent #left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 46%;
}
#notesContent #left .note {
  margin: 3px;
  width: 100%;
  background: #FFFFFF;
  padding: 10px;
  border: 1.2px solid #8d8c8c;
  border-radius: 8px;
}
#notesContent #left .note #title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #575757;
}
#notesContent #left .note #content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  color: #7B7B7B;
}
#notesContent #right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 46%;
}
#notesContent #right .note {
  margin: 3px;
  width: 100%;
  background: #FFFFFF;
  padding: 10px;
  border: 1.2px solid #8d8c8c;
  border-radius: 8px;
}
#notesContent #right .note #title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #575757;
}
#notesContent #right .note #content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  color: #7B7B7B;
}

#tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  padding-bottom: 150px;
  display: none;
}
#tasks #dropDown {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  padding-left: 0px;
}
#tasks #dropDown select {
  margin-left: 60px;
  border: 1.5px solid #B2B2B2;
  border-radius: 4px;
  width: 100px;
  height: 24px;
}
#tasks #dropDown select:focus {
  border: 1.5px solid #B2B2B2;
  outline: none;
}
#tasks #taskCardSpace {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#tasks #taskCardSpace .taskCard {
  margin: 14px 0px;
  width: 270px;
  background: #EEEEEE;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
}
#tasks #taskCardSpace .taskCard #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
}
#tasks #taskCardSpace .taskCard #portion1 #title {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  color: #223F80;
}
#tasks #taskCardSpace .taskCard #portion1 #right {
  background: rgba(34, 63, 128, 0.4);
  border-radius: 6px;
  height: 18px;
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#tasks #taskCardSpace .taskCard #portion1 #right p {
  color: white;
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}
#tasks #taskCardSpace .taskCard #portion2 {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  color: #223F80;
}
#tasks #taskCardSpace .taskCard #portion3 {
  margin: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#tasks #taskCardSpace .CompletedTaskCard {
  margin: 14px 0px;
  width: 270px;
  height: 105px;
  background: #6BDA7D;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
#tasks #taskCardSpace .CompletedTaskCard #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
}
#tasks #taskCardSpace .CompletedTaskCard #portion1 #title {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  color: white;
}
#tasks #taskCardSpace .CompletedTaskCard #portion1 #right {
  background-color: white;
  border-radius: 6px;
  height: 18px;
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#tasks #taskCardSpace .CompletedTaskCard #portion1 #right p {
  color: #6BDA7D;
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}
#tasks #taskCardSpace .CompletedTaskCard #portion2 {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  color: white;
}
#tasks #taskCardSpace .CompletedTaskCard #portion3 {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
}
#tasks #taskCardSpace .OverdueTaskCard {
  margin: 14px 0px;
  width: 270px;
  height: 105px;
  background: #DA6B6B;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
#tasks #taskCardSpace .OverdueTaskCard #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
}
#tasks #taskCardSpace .OverdueTaskCard #portion1 #title {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  color: white;
}
#tasks #taskCardSpace .OverdueTaskCard #portion1 #right {
  background-color: white;
  border-radius: 6px;
  height: 18px;
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#tasks #taskCardSpace .OverdueTaskCard #portion1 #right p {
  color: #DA6B6B;
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}
#tasks #taskCardSpace .OverdueTaskCard #portion2 {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  color: white;
}
#tasks #taskCardSpace .OverdueTaskCard #portion3 {
  margin: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}/*# sourceMappingURL=clients.css.map */