input::-moz-placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input::placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input {
  border: 2px solid #B8B8B8;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.grayText {
  color: #8B8B8B;
}

.grayText {
  color: #8B8B8B;
}

.password {
  border: none;
}

div :has(> .password:focus) {
  border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* this is applicable for firefox */
/* input[type=number]{
    -moz-appearance: textfield;
} */
#samplephone {
  font-weight: 550;
}

#p1 {
  font-weight: 620;
  width: 280px;
  line-height: 1.2;
}

.otp_num {
  font-weight: 600;
}

hr {
  border-width: 1.5px;
  border-color: #B8B8B8;
}

.heading {
  font-weight: 500;
}

.button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 100%;
  transition-duration: 1s;
  width: 100%;
  height: 50px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  color: white;
  border-radius: 12px;
  opacity: 0.9;
}

.button:hover {
  box-shadow: none;
  scale: 0.95;
}

a {
  cursor: pointer;
}

.eye path {
  stroke: #B8B8B8;
}

.eye:hover path {
  stroke: #223F80;
}

#password {
  font-weight: 400;
}

.invalid {
  /* visibility: visible; */
  color: #BB2230;
  font-size: 12px;
  margin: 0px;
}

li::marker {
  font-size: 10px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

.grid-container {
  width: 240px;
  border: 1.5px dashed #929292;
  border-radius: 11px;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.grid-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(34, 63, 128, 0.4);
  padding: 5px;
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #223F80;
}

.emptyInfo {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.tickBox {
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.tickBox .tickButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #B8B8B8;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-top: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down {
  margin-top: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: black;
  opacity: 1;
  display: block;
  background: url("../images/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px 10px;
}
#main #statusBar {
  width: 100vw;
  background-color: transparent;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#main #statusBar #statusButton {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 15px;
  align-items: flex-end;
  color: #6D7593;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#main #statusBar #statusButton .statusButton {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgb(109, 117, 147);
  width: 33.333%;
  height: 32px;
  text-align: center;
  border-bottom: 2px solid rgb(109, 117, 147);
}
#main #statusBarEdge {
  width: 100vw;
  margin: 0px;
  border: 0.5px solid rgba(37, 53, 100, 0.4);
}
#main #searchBarDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
#main #searchBarDiv #searchBar {
  width: 80%;
  height: 40px;
  margin: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(109, 117, 147, 0.22);
  border-radius: 9px;
}
#main #searchBarDiv #searchBar #icon {
  margin: 5px;
}
#main #searchBarDiv #searchBar #searchField {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #6D7593;
  margin-right: 10px;
}
#main #labelBar {
  width: 100vw;
  background: rgba(34, 63, 128, 0.13);
  height: 40px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#main #labelBar #labels {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  color: #6D7593;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main #labelBar #labels .label {
  color: white;
  width: 25%;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
}
#main .scrolling-wrapperY {
  width: 100vw;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 10px 5px;
  flex-direction: column;
}
#main .scrolling-wrapperY .cards {
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
}
#main .scrolling-wrapperY .cards .details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#main .scrolling-wrapperY .cards .details .info {
  height: 100%;
  width: 65px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  color: #223F80;
}
#main .scrolling-wrapperY .cards .details .phone {
  font-weight: 500;
  font-size: 12px;
}
#main .scrolling-wrapperY .cards .details .status {
  width: 42px;
  height: 13px;
  border-radius: 14px;
  background-color: #6BDA7D;
}
#main .scrolling-wrapperY .cards .details .date {
  font-weight: 500;
  font-size: 10px;
  color: #929292;
}
#main .scrolling-wrapperY .cards .details .dateDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .scrolling-wrapperY .cards .details .dateDiv .filterTag {
  display: none;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 8px;
  background: rgba(34, 63, 128, 0.4);
  border-radius: 2px;
  height: 15px;
  width: 57px;
  padding: 3px;
  margin-bottom: 10px;
}
#main .fixed {
  position: fixed;
  bottom: 0;
  height: 56px;
  background-color: white;
  height: 60px;
  padding: 5px 20px;
  width: 100%;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#main .fixed .downIconDiv {
  height: 47px;
  width: 162px;
  margin: 10px;
  padding: 0px 20px;
  color: #223F80;
  stroke: #223F80;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main .fixed .downIconDiv:focus {
  background: linear-gradient(41.93deg, #223F80 -18.34%, #444584 43.24%, #BB2230 100.33%);
  color: white;
  stroke: white;
  opacity: 0.93;
}
#main .fixed .downIconDiv p {
  font-family: "Montserrat";
  font-style: normal;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}
#main .fixed .downIconDiv svg path {
  stroke: inherit;
}
#main .fixed .downIconDiv svg circle {
  stroke: inherit;
}
#main #add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 75px;
  right: 60px;
}
#main #add img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px;
}

#addCustomer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
  top: 0px;
  left: 0px;
  overflow: scroll;
  z-index: 1;
}
#addCustomer #addBox {
  margin: 20px 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 15px;
  background-color: white;
}
#addCustomer #addBox #closeIcon {
  border-radius: 20px;
  height: 24px;
  margin: 10px;
  padding: 0px;
}
#addCustomer #addBox .inputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
#addCustomer #addBox .inputFields .label {
  width: 87%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #223F80;
  margin-left: 0px;
}
#addCustomer #addBox .inputFields .field {
  width: 87%;
  border: 2px solid #B8B8B8;
  border-radius: 12px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#addCustomer #addBox .inputFields .dropDownDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#addCustomer #addBox .inputFields .dropDownDiv select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 0px;
}
#addCustomer #addBox .inputFields .dropDownDiv select:focus {
  outline: none;
}
#addCustomer #addBox .inputFields #dobField {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
#addCustomer #addBox .inputFields #dobField #calendarDiv {
  margin-top: 8px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #223F80;
  border-radius: 12px;
  height: 47px;
  width: 47px;
}
#addCustomer #addBox .inputFields .field:invalid:focus {
  border: 1px solid red;
}
#addCustomer #addBox .inputFields .Button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 80%;
  height: 50px;
  font-family: "Montserrat";
  margin: 30px 20px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  border-radius: 12px;
}
#addCustomer #addBox .inputFields .Button:hover {
  box-shadow: none;
  scale: 0.95;
}
#addCustomer #addBox select {
  background: transparent;
}
#addCustomer #addBox select * {
  padding: 5px 10px;
}

#filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0px;
  z-index: 2;
}
#filter #filterBox {
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 15px;
  background-color: white;
}
#filter #filterBox #closeIcon {
  border-radius: 20px;
  height: 24px;
  margin: 10px;
  padding: 0px;
}
#filter #filterBox #filterLabels {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: wrap;
  padding: 0px 10px;
  padding-bottom: 40px;
}
#filter #filterBox #filterLabels .fLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: rgba(34, 63, 128, 0.4);
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 8px 8px;
  padding: 5px 20px;
  border-radius: 5px;
}/*# sourceMappingURL=contact.css.map */