@import 'main';

#signInPage{
    background: linear-gradient(221.38deg, #BB2230 1.49%, #444584 55.55%, #1E2E5A 95.91%);
    padding:20px 10px;
    #signInFormDiv{
        background-color: white;
        // max-width: 400px;
        border-radius: 12px;
        width: 95%;
        box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.25);
        #signInTextDiv{
            padding:20px 30px;
            padding-bottom:10px;
            #signInText{
                color:#223F80;
                font-weight: 500;
                font-size: 22px;
                padding:10px;
            }
        }
        #fieldBox{
            background-color: white;
            margin:10px 30px;
            #emailLable{
                color:#223F80;
                font-weight: 500;
                font-size: 14px;
                padding:5px;
            }


            #numberField{
                border: 2px solid #B8B8B8;
                border-radius: 12px;
                padding:10px;
                width: 100%;
                height:50px;
                font-weight:400;
            }
            #passwordDiv{
                padding-top:10px;
                margin-top:15px;
                .inLabel {
                    color: #223F80;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 5px;
                  }
                #passwordBox{
                    @include flex(row,none,none);
                    border: 2px solid #B8B8B8;
                    border-radius: 12px;
                    padding:5px;
                    width: 100%;
                    height:50px; 
                    #passwordField{
                        font-weight: 400;
                        padding:5px;
                        width: 100%;
                        border-radius:12px;
                    } 
                    img{
                        margin:5px;
                    }
                }
            }
            .tickBox{
                p{
                    color:#223F80;
                    font-size:16px;
                }
            }
            #buttonDiv{
                margin-top:2px;
                #Button{
                    @include button1(100%, 50px, 0px, 0px, 400, 18px);
                }
                #forgotPwd{
                    margin:8px;
                    color:#223F80;
                    text-decoration-line:underline;
                    font-size: 14px;
                    margin-right: 2px;
                    float:right;
                }
            }
            #accDiv{
                text-align:center;
                hr{
                    margin-top:60px;
                }
                p{
                    font-size: small;
                    color: #B8B8B8;
                    margin:25px;
                    a{
                       color:#223F80;
                       margin-left:2px;
                       text-decoration-line: underline;
                       font-size: small;
                    }
                }
            }
        }

    }

}