@import 'main';

// #signInPage{
//     background: linear-gradient(221.38deg, #BB2230 1.49%, #444584 55.55%, #1E2E5A 95.91%);
//     padding:20px 10px;
//     #signInFormDiv{
//         background-color: white;
//         // max-width: 400px;
//         border-radius: 12px;
//         width: 95%;
//         box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.25);
//         #signInTextDiv{
//             padding:20px 30px;
//             padding-bottom:10px;
//             #signInText{
//                 color:#223F80;
//                 font-weight: 500;
//                 font-size: 22px;
//                 padding:10px;
//             }
//         }
//         #fieldBox{
//             background-color: white;
//             margin:10px 30px;
//             #emailLable{
//                 color:#223F80;
//                 font-weight: 500;
//                 font-size: 14px;
//                 padding:5px;
//             }


//             #numberField{
//                 border: 2px solid #B8B8B8;
//                 border-radius: 12px;
//                 padding:10px;
//                 width: 100%;
//                 height:50px;
//                 font-weight:400;
//             }
//             #passwordDiv{
//                 padding-top:10px;
//                 margin-top:15px;
//                 .inLabel {
//                     color: #223F80;
//                     font-weight: 500;
//                     font-size: 14px;
//                     padding: 5px;
//                   }
//                 #passwordBox{
//                     @include flex(row,none,none);
//                     border: 2px solid #B8B8B8;
//                     border-radius: 12px;
//                     padding:5px;
//                     width: 100%;
//                     height:50px; 
//                     #passwordField{
//                         font-weight: 400;
//                         padding:5px;
//                         width: 100%;
//                         border-radius:12px;
//                     } 
//                     img{
//                         margin:5px;
//                     }
//                 }
//             }
//             .tickBox{
//                 p{
//                     color:#223F80;
//                     font-size:16px;
//                 }
//             }
//             #buttonDiv{
//                 margin-top:2px;
//                 #Button{
//                     @include button1(100%, 50px, 0px, 0px, 400, 18px);
//                 }
//                 #forgotPwd{
//                     margin:8px;
//                     color:#223F80;
//                     text-decoration-line:underline;
//                     font-size: 14px;
//                     margin-right: 2px;
//                     float:right;
//                 }
//             }
//             #accDiv{
//                 text-align:center;
//                 hr{
//                     margin-top:60px;
//                 }
//                 p{
//                     font-size: small;
//                     color: #B8B8B8;
//                     margin:25px;
//                     a{
//                        color:#223F80;
//                        margin-left:2px;
//                        text-decoration-line: underline;
//                        font-size: small;
//                     }
//                 }
//             }
//         }

//     }

// }


@import 'main';

#signInPage{
    background: linear-gradient(221.38deg, #BB2230 1.49%, #444584 55.55%, #1E2E5A 95.91%);
    padding:20px 10px;
    #signInFormDiv{
        margin:50px;
        background-color: white;
        // max-width: 400px;
        border-radius: 12px;
        width: 340px;
        box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.25);
        #signInTextDiv{
            padding:20px 30px;
            padding-bottom:10px;
            #signInText{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #223F80;
                padding:10px;
                margin-bottom:0px;
            }
        }
        #fieldBox{
            background-color: white;
            margin:10px 23px;
            @include flex(column,center,center);
            #emailLable{
                padding-left:5px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                color:#223F80;
                margin-bottom:0px;
                width:100%;
            }
            #numberField{
                border: 2px solid #B8B8B8;
                border-radius: 12px;
                padding-left:8px;
                width: 285px;
                height:40px;
                font-weight:400;
            }
            #passwordDiv{
                margin-top:15px;
                .inLabel {
                    padding-left:5px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color:#223F80;
                    margin-bottom:0px;
                    width:100%;
                  }
                #passwordBox{
                    @include flex(row,none,none);
                    border: 2px solid #B8B8B8;
                    border-radius: 12px;
                    padding-left:5px;
                    width: 285px;
                    height:40px; 
                    #passwordField{
                        font-weight: 400;
                        padding:5px;
                        width: 100%;
                        border-radius:12px;
                    } 
                    img{
                        height:20px;
                        width:20px;
                        margin:10px;
                    }
                }
            }
            .tickBox{
                margin:10px;
                width:100%;
                height:20px;
                margin-top:40px;
                @include flex(row,flex-start,center);
                p{
                    color:#223F80;
                    font-size:16px;
                }
            }
            #buttonDiv{
                @include flex(column,center,center);
                margin-top:2px;
                #Button{
                    @include button1(272px, 50px, 0px, 0px, 400, 18px);
                }
                
            }
            #forgotPwd{
                width:100%;
                p{
                    margin:10px 20px;
                    margin-bottom:5px;
                    color:#223F80;
                    font-weight: 500;
                    text-decoration-line:underline;
                    font-size: 14px;
                    float: right;
                }
            }
            #accDiv{
                text-align:center;
                width:270px;
                hr{
                    margin-top:20px;
                }
                p{
                    font-size: small;
                    color: #B8B8B8;
                    margin:25px;
                    a{
                       color:#223F80;
                       font-family: 'Montserrat';
                        font-style: normal;
                       margin-left:2px;
                       font-weight: 500;
                        font-size: 12px;
                       text-decoration-line: underline;
                       font-size: small;
                    }
                }
            }
        }

    }

}