input::-moz-placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input::placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input {
  border: 2px solid #B8B8B8;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.grayText {
  color: #8B8B8B;
}

.grayText {
  color: #8B8B8B;
}

.password {
  border: none;
}

div :has(> .password:focus) {
  border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* this is applicable for firefox */
/* input[type=number]{
    -moz-appearance: textfield;
} */
#samplephone {
  font-weight: 550;
}

#p1 {
  font-weight: 620;
  width: 280px;
  line-height: 1.2;
}

.otp_num {
  font-weight: 600;
}

hr {
  border-width: 1.5px;
  border-color: #B8B8B8;
}

.heading {
  font-weight: 500;
}

.button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 100%;
  transition-duration: 1s;
  width: 100%;
  height: 50px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  color: white;
  border-radius: 12px;
  opacity: 0.9;
}

.button:hover {
  box-shadow: none;
  scale: 0.95;
}

a {
  cursor: pointer;
}

.eye path {
  stroke: #B8B8B8;
}

.eye:hover path {
  stroke: #223F80;
}

#password {
  font-weight: 400;
}

.invalid {
  /* visibility: visible; */
  color: #BB2230;
  font-size: 12px;
  margin: 0px;
}

li::marker {
  font-size: 10px;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

.grid-container {
  width: 240px;
  border: 1.5px dashed #929292;
  border-radius: 11px;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.grid-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(34, 63, 128, 0.4);
  padding: 5px;
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #223F80;
}

.emptyInfo {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.tickBox {
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.tickBox .tickButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #B8B8B8;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-top: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down {
  margin-top: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: black;
  opacity: 1;
  display: block;
  background: url("../images/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

#signInPage {
  background: linear-gradient(221.38deg, #BB2230 1.49%, #444584 55.55%, #1E2E5A 95.91%);
  padding: 20px 10px;
}
#signInPage #signInFormDiv {
  margin: 50px;
  background-color: white;
  border-radius: 12px;
  width: 340px;
  box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.25);
}
#signInPage #signInFormDiv #signInTextDiv {
  padding: 20px 30px;
  padding-bottom: 10px;
}
#signInPage #signInFormDiv #signInTextDiv #signInText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #223F80;
  padding: 10px;
  margin-bottom: 0px;
}
#signInPage #signInFormDiv #fieldBox {
  background-color: white;
  margin: 10px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signInPage #signInFormDiv #fieldBox #emailLable {
  padding-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
  margin-bottom: 0px;
  width: 100%;
}
#signInPage #signInFormDiv #fieldBox #numberField {
  border: 2px solid #B8B8B8;
  border-radius: 12px;
  padding-left: 8px;
  width: 285px;
  height: 40px;
  font-weight: 400;
}
#signInPage #signInFormDiv #fieldBox #passwordDiv {
  margin-top: 15px;
}
#signInPage #signInFormDiv #fieldBox #passwordDiv .inLabel {
  padding-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
  margin-bottom: 0px;
  width: 100%;
}
#signInPage #signInFormDiv #fieldBox #passwordDiv #passwordBox {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  border: 2px solid #B8B8B8;
  border-radius: 12px;
  padding-left: 5px;
  width: 285px;
  height: 40px;
}
#signInPage #signInFormDiv #fieldBox #passwordDiv #passwordBox #passwordField {
  font-weight: 400;
  padding: 5px;
  width: 100%;
  border-radius: 12px;
}
#signInPage #signInFormDiv #fieldBox #passwordDiv #passwordBox img {
  height: 20px;
  width: 20px;
  margin: 10px;
}
#signInPage #signInFormDiv #fieldBox .tickBox {
  margin: 10px;
  width: 100%;
  height: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#signInPage #signInFormDiv #fieldBox .tickBox p {
  color: #223F80;
  font-size: 16px;
}
#signInPage #signInFormDiv #fieldBox #buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
#signInPage #signInFormDiv #fieldBox #buttonDiv #Button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 272px;
  height: 50px;
  font-family: "Montserrat";
  margin: 0px 0px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  border-radius: 12px;
}
#signInPage #signInFormDiv #fieldBox #buttonDiv #Button:hover {
  box-shadow: none;
  scale: 0.95;
}
#signInPage #signInFormDiv #fieldBox #forgotPwd {
  width: 100%;
}
#signInPage #signInFormDiv #fieldBox #forgotPwd p {
  margin: 10px 20px;
  margin-bottom: 5px;
  color: #223F80;
  font-weight: 500;
  text-decoration-line: underline;
  font-size: 14px;
  float: right;
}
#signInPage #signInFormDiv #fieldBox #accDiv {
  text-align: center;
  width: 270px;
}
#signInPage #signInFormDiv #fieldBox #accDiv hr {
  margin-top: 20px;
}
#signInPage #signInFormDiv #fieldBox #accDiv p {
  font-size: small;
  color: #B8B8B8;
  margin: 25px;
}
#signInPage #signInFormDiv #fieldBox #accDiv p a {
  color: #223F80;
  font-family: "Montserrat";
  font-style: normal;
  margin-left: 2px;
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  font-size: small;
}/*# sourceMappingURL=login.css.map */