input::placeholder {
    font-weight:normal;
    opacity: 1;
}

input{
  border:2px solid #B8B8B8;
  background-color: transparent;
}
input:focus{
  outline: none;
}
.grayText{
    color: #8B8B8B;
}

.grayText{
    color: #8B8B8B;
}

.password{
    border:none;
}

div :has( > .password:focus){
    border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;

}

/* this is applicable for firefox */
/* input[type=number]{
    -moz-appearance: textfield;
} */

#samplephone{
    font-weight: 550;
}

#p1{
    font-weight: 620;
    width: 280px;
    line-height: 1.2;
}

.otp_num{
    font-weight: 600;
}

hr{
    border-width: 1.5px;
    border-color: #B8B8B8;
}

.heading{
    font-weight:500;
}

.button{
    background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
    transition-duration: 1s;
    width: 100%;
    transition-duration: 1s;
    width: 100%;
    height:50px;
    margin: 40px 0px;
    font-weight:400;
    font-size:18px;
    margin: 40px 0px;
    font-weight:400;
    font-size:18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color:white;
    color:white;
    border-radius: 12px;
    opacity:0.9;
}

.button:hover{
    box-shadow:none;
    scale:0.95;

}


a{
    cursor:pointer;
}

.eye path{
    stroke: #B8B8B8;
    
}

.eye:hover path{
    stroke:#223F80;
}

#password{
    font-weight:400;
}

.invalid{
    /* visibility: visible; */
    color:#BB2230;
    font-size: 12px;
    margin:0px;
}


li::marker{
    font-size: 10px;
}

@font-face {
    font-family: 'Montserrat';
    src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
} //Vittae-x default font


@mixin flex($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin addButton($bottom,$right){
        @include flex(row,center,center);
        height:60px;
        width: 60px;
        border-radius: 100%;
        position:fixed;
        bottom: $bottom;
        right:$right;
        img{
            width: fit-content;
            height:fit-content;
            padding:0px;
        }

}


@mixin button1($width,$height,$marginTB,$marginRL,$FW,$FS){
        background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
        transition-duration: 1s;
        width: $width;
        height: $height;
        font-family: 'Montserrat';
        margin: $marginTB $marginRL;
        font-weight:$FW;
        font-size:$FS;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        color:white;
        border-radius: 12px;
    &:hover{
        box-shadow: none;
        scale:0.95;
    }
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 100vh;
    width: 100vw;
}
  
#root{
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
  
section{
    overflow: auto;
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  




#dashboard{
    font-family: 'Montserrat';
    font-style: normal;
    position:static;
    padding:0px;
    background-color:#E4E4E4 ;
    overflow: hidden;

    .navbar{
        @include flex(row,space-between,center);
        background-color: white;
        width: 100%;
        height:89px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
        .profile{
            @include flex(none,center,center);
            #profileImg{
                border-radius: 100%;
                height:93%;
                // width:auto;
            }
            
            border-radius: 100%;
            margin:20px;
            width: 60px;
            height: 60px;
            background: #223F80;
        }
        .icons{
            @include flex(row,space-evenly,center);
            width: fit-content;
            height: 100%;
            margin-right:20px;
            .icon{
                margin:8px;
            }
            .iconBox{
                display: block;
                position: relative;
                #notifCircle{
                    display: block;
                    position: absolute;
                    border-radius: 13px;
                    top: 0px;
                    right:0px;
                    width:13px;
                    height:fit-content;
                    border: 2px solid white;
                    path{
                        fill:#BB2230;                    
                    }
                }
            }

        }
    }

    #main{
        @include flex(column,flex-start,center);
        overflow: hidden;
        padding: 0px 10px;

        #statusBar{
            width:100vw;
            background-color: transparent;
            height:40px;
            @include flex(row,space-evenly,center);
            #statusButton{
                width:100%;
                font-family: 'Montserrat';
                font-style: normal;
                
                line-height: 15px;
                align-items: flex-end;
                color: #6D7593;
                @include flex(row,flex-start,center);
    
                .statusButton{
                    // margin-top:10px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #6D7593;;
                    width:33.333%;
                    height:32px;
                    text-align: center;
                }
                .statusButton:focus{
                    color: #223F80;
                    border-bottom:1px solid  #223F80;
                }
            }
        }
    #statusBarEdge{
        width:100vw;
        margin:0px;
        border: 0.5px solid rgba(37, 53, 100, 0.4);
    }

    #searchBarDiv{
        @include flex(row,center,center);
        width:100vw;
        #searchBar{
            width:80%;
            height: 40px;
            margin:30px 10px;
            @include flex(row,space-between,center);
            background: rgba(109, 117, 147, 0.22);
            border-radius: 9px;
            #icon{
                margin:5px;
            }
            #searchField{
                width: 100%;
                background-color: transparent;
                border: none;
                color: #6D7593;
                margin-right:10px;
            }
        }
    }

    #labelBar{
        width:100vw;
        background: rgba(34, 63, 128, 0.13);
        height:40px;
        border:none;
        @include flex(row,space-evenly,center);
        #labels{
            width:100%;
            font-family: 'Montserrat';
            font-style: normal;
            color: #6D7593;
            @include flex(row,center,center);
            .label{
                color:white;
                width:25%;
                height:40px;
                font-weight:500;
                font-size: 12px;
                line-height: 15px;
                @include flex(none,center,center);
            }
        }
    }

    .scrolling-wrapperY{
        height:100%;
        width: 97%;
        overflow-y:scroll;
        overflow-x:hidden;
        white-space: nowrap;
        padding:10px 25px;
        .cards {
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 4px 1px -2px rgba(0, 0, 0, 0.20);
            border-radius: 8px;
            margin-top:10px;
            width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            .details{
                height:100%;
                width: 100%;
                @include flex(row,space-around,center);
                .info{
                    height: 100%;
                    width: stretch;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 12px;
                    @include flex(none,center,center);
                    color: #223F80;
                }
                .status{
                    i{
                        font-size:20px;
                        margin: 2px;
                        margin-bottom:13px;
                    }
                    color: #6BDA7D; //active
                    // color: #DA6B6B; //inactive
                    // color: #DAC16B; //processing

                }
                .date{
                    color:#929292;
                }

                .dateDiv{
                    @include flex(column,center,center);
                    .filterTag{
                        display: none;
                        align-items: center;
                        color:white;
                        font-weight: 500;
                        font-size: 8px;
                        background: rgba(34, 63, 128, 0.4);
                        border-radius: 2px;
                        height:15px;
                        width:57px;
                        padding:3px;
                        margin-bottom:10px;
                    }
                }
            }

        }
    }
    .fixed{
        position:fixed;
        bottom:0;
        background-color: white;
        backdrop-filter: blur(1px);
        height:60px;
        padding: 5px 20px;
        width:100%;
        box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
        @include flex(row,space-around,center);
        .downIconDiv{
            margin:10px;
            padding:0px 20px;
            color:#223F80;
            stroke:#223F80;
            &:hover{
                background: linear-gradient(41.93deg, #223F80 -18.34%, #444584 43.24%, #BB2230 100.33%);
                color:white;
                stroke:white;
                opacity: 0.93;
            }
            border-radius: 13px;
            @include flex(row,center,center);
            p{
                font-family: 'Montserrat';
                font-style: normal;
                color:inherit;
                font-weight: 600;
                font-size: 16px;
                margin-left:10px;
            }
            svg path{
                stroke:inherit;
            }
            svg circle{
                stroke:inherit;
            }
        } 
    }
    #add{
        @include addButton(75px,60px);
    }
}
    #addCustomer{
        height:100%;
        width:100%;
        position:absolute;
        background-color: rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(1.5px);
        @include flex(none,center,center);
        display:none;
        #addBox{
            height:fit-content;
            width:80%;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            border-radius: 15px;
            background-color: white;
            #closeIcon{
                border-radius:20px;
                height:24px;
                margin:10px;
                padding:0px;
            }
            .inputFields{
                @include flex(column,center,center);
                .label{
                    width:87%;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    color: #223F80;
                    margin-left:20px;
                }
                .field{
                    width: 87%;
                    border: 2px solid #B8B8B8;
                    border-radius: 12px;
                    padding:10px;
                    margin-top:5px;
                    margin-bottom:20px;
                }

                .dropDownDiv{
                    @include flex(row,space-between,center);
                    select{
                        border:none;
                        appearance: none;
                        width: 100%;
                        padding: 0px;
                        &:focus{
                            outline:none;
                        }
                    }

                }
                #dobField{
                    width: 100%;
                    @include flex(row,center,start);
                    #calendarDiv{
                        margin-top:8px;
                        margin-left:5px;
                        @include flex(row,center,center);
                        background: #223F80;
                        border-radius: 12px;
                        height:47px;
                        width:47px;
                    }
                }
                
                .field:invalid:focus{
                    border:1px solid red;
                }
                .Button{
                    @include button1(80%,50px,30px,20px,500,15px);
                }
            }
        }
    }

    #filter{
        height:100%;
        width:100%;
        position:absolute;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(1.5px);
        @include flex(none,center,center);
        display:none;
        #filterBox{
            height:fit-content;
            width:80%;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            border-radius: 15px;
            background-color: white;
            #closeIcon{
                border-radius:20px;
                height:24px;
                margin:10px;
                padding:0px;
            }

            #filterLabels{
                @include flex(row,none,none);
                flex-wrap: wrap;
                padding:0px 10px;
                padding-bottom:40px;
                .fLabel{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    background-color:#223F8066;
                    // background-color: #223F80;
                    width:fit-content;
                    color:white;
                    margin:8px 8px;
                    padding:5px 20px; 
                    border-radius:5px;
                    &:focus{
                        background: #223F80;
                    }
                }
            }
            
            
        }
    }

}




#profile{
    font-family: 'Montserrat';
    font-style: normal;
    height:100%;
    @include flex(column,flex-start,center);
    position:static;
    background-color: white;
    overflow: hidden;
    padding-top:0px;
    #deleteAcc{
        height:100%;
        width:100%;
        z-index: 1;
        position:absolute;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(1.5px);
        @include flex(none,center,center);
        // display:none;
        #deleteAccDiv{
            height:fit-content;
            width:80%;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            border-radius: 15px;
            background-color: white;
            #closeIcon{
                border-radius:20px;
                height:24px;
                margin:10px;
                padding:0px;
            }
            p{

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                margin-left:40px;
                color: #223F80;
                a{
                    color:#BB2230;
                }
            }
            #reasonBoxDiv{
                @include flex(column,center,center);
            }
            
            #reasonTxt{
                margin:30px;
                margin-top:0px;
                height:fit-content;
                min-height:130px;
                border:1px solid #616161;
                border-radius:12px;
                width:80%;
            }

            #Button{
                @include button1(80%,50px,20px,30px,500,18px);
            }

            #filterLabels{
                @include flex(row,none,none);
                flex-wrap: wrap;
                padding:0px 10px;
                padding-bottom:40px;
                .fLabel{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    background-color:#223F8066;
                    // background-color: #223F80;
                    width:fit-content;
                    color:white;
                    margin:8px 8px;
                    padding:5px 20px; 
                    border-radius:5px;
                    &:focus{
                        background: #223F80;
                    }
                }
            }
            
            
        }
    }

    #backButton{
        width:100%;
        margin:15px;
        padding-left:20px;
        padding-bottom:0px;
        button svg path{
            fill:#223F80;
        }
    }

    #profileDiv{
        width:100%;
        height:25%;
        @include flex(column,center,center);
        #profileBox{
            border-radius:100%;
            background-color: #223F80;
            padding:2px;
            @include flex(none,center,center);
            #profilePageImg{
                height:118px;
                width:118px;
                border-radius:100%;
            }
        }
        
        #profileName{
            font-weight: 700;
            font-size: 40px;
            color: #223F80;
        }
    }
    #profileMenu{
        margin-top:30px;
        width: 75%;
        height: 22%;
        background: #FFFFFF;
        box-shadow: 0px 4px 26px -4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        @include flex(column,space-evenly,none);
        .setting{
            border-radius:15px;
            padding: 10px;
            margin:0px 30px;
            @include flex(row,space-between,center);
            p{
                font-weight: 500;
                font-size: 16px;
                color: #223F80;
                @include flex(row,center,center);
                svg{
                    margin-right:10px;
                }
            }
            
        }
    }
    #logOut{
        margin-top:40px;
        width: 75%;
        height: 8%;
        background: #FFFFFF;
        box-shadow: 0px 4px 26px -4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 10px 40px;
        transition-duration: 1s;
        @include flex(row,space-between,center);
        p{
            font-weight: 600;
            font-size: 16px;
            color: #EB1414;
        }
        :hover{
            scale:0.95;
        }
    }
    #deleteButton{
        position:absolute;
        bottom:10px;
        #delete{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #223F80;
        }
    }
    
}

#profileInfo{
    font-family: 'Montserrat';
    font-style: normal;
    padding-top:0px;
    background-color: white;
    #backButtonDiv{
        width:100%;
        padding:15px 10px;
        padding-bottom:0px;
        #backButton{
            @include flex(row,start,center);
            svg path{
                fill:#223F80;
            }
            p{
                color:#223F80;
                margin-left: 10px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
        }
        
    }

    #profileDiv{
        width:100%;
        height:25%;
        margin-top:30px;
        @include flex(column,center,center);
        #profileBox{
            width:118px;
            height:118px;
            border-radius:100%;
            background-color: #223F80;
            padding:2px;
            @include flex(none,center,center);
            #profilePageImg{
                border-radius:100%;
            }
        }
    }
    .inputField{
        width: 100%;
        @include flex(column,center,center);
        .label{
            width:72%;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #223F80;
            margin-left:20px;
        }
        .field{
            width: 72%;
            border: 2px solid #B8B8B8;
            border-radius: 12px;
            padding:8px;
            margin-top:5px;
            margin-bottom:15px;
        }

        .dropDownDiv{
            @include flex(row,space-between,center);
            select{
                border:none;
                appearance: none;
                width: 100%;
                padding: 0px;
                &:focus{
                    outline:none;
                }
            }

        }
        #dobField{
            width: 100%;
            @include flex(row,center,start);
            #calendarDiv{
                margin-top:8px;
                margin-left:5px;
                @include flex(row,center,center);
                background: #223F80;
                border-radius: 12px;
                height:47px;
                width:47px;
            }
        }
        
        .field:invalid:focus{
            border:1px solid red;
        }
        #saveButton{
            @include button1(70%,50px,10px,0px,500,15px);
            margin-bottom:40px;
        }
    }
    

}

button{
    background-color: transparent;
    border: none;
}

#dashboard{
    font-family: 'Montserrat';
    font-style: normal;
    position:static;
    padding:0px;
    background-color:#E4E4E4 ;
    overflow: hidden;
    
    .navbar{
        @include flex(row,space-between,center);
        background-color: white;
        width: 100%;
        height:89px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
        .profile{
            @include flex(none,center,center);
            #profileImg{
                border-radius: 100%;
                height:93%;
                // width:auto;
            }
            
            border-radius: 100%;
            margin:20px;
            width: 60px;
            height: 60px;
            background: #223F80;
        }
        .icons{
            @include flex(row,space-evenly,center);
            width: fit-content;
            height: 100%;
            margin-right:20px;
            .icon{
                margin:8px;
            }
            .iconBox{
                display: block;
                position: relative;
                #notifCircle{
                    display: block;
                    position: absolute;
                    border-radius: 13px;
                    top: 0px;
                    right:0px;
                    width:13px;
                    height:fit-content;
                    border: 2px solid white;
                    path{
                        fill:#BB2230;                    
                    }
                }
            }

        }
    }

    #main{
        padding-bottom:90px;
        margin-top:2px;
        @include flex(column,flex-start,center);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        #perks{
            height:96px;
            width:100%;
            @include flex(row,none,none);
            #perk{
                @include flex(column,center,center);
                width: 50%;
                height:100%;
                padding-top:20px;
                background-color: white;
                p{
                    margin-top:0px;
                    width:147px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: #223F80;
                    line-height: 10px;
                    text-align: center;

                }
                .description{
                    font-weight: 500;
                    font-size: 10px;
                    color: #616161;

                }
            }   
            .incentive{
                margin-left:2px;
            }
        }

        #reminderDiv{
            margin-top:20px;
            height:auto;
            width:100%;
            background-color: transparent;
            @include flex(column,start,center);
            #calendar{
                background-color: white;
                border-bottom: 1px solid #9d9d9d;
                width: 100vw;
                @include flex(column,center,center);
                #months{
                    padding:0px 10px;
                    padding-right:0px;
                    width: 95%;
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        color: #363636;
                    }
                    @include flex(row,space-between,center);
                    #monthView{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 11px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #223F80;
                        @include flex(row,center,center);
                        img{
                            margin-left:5px;
                        }
                    }
                }   
                .week{
                    padding:0px 0px;
                    margin:0px;
                    height:80px;
                    overflow: scroll;
                    width:100vw;
                    @include flex(row,flex-start,flex-start);
                    .dates{
                        margin:0px 10px;
                        padding-top:0px;
                        margin-top:0px;
                        height:50px;
                        width:100vw;
                        padding:5px 5px;
                        @include flex(row,start,center);
                        .date{
                            @include flex(column,center,center);
                            margin:0px 4px;
                            #day{
                                display: flex;
                                margin:4px 10px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                color: #B8B8B8;
                            }
                            #date{
                                padding:2px;
                                width:18px;
                                height:18px;
                                text-align: center;
                                background: #223F80;;
                                // background: rgba(34, 63, 128, 0.4);
                                border-radius: 3px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                color: #FFFFFF;
                                margin:0px;
                            }
                            #reminderOverlay{
                                margin:0px 0px;
                                padding:0px;
                                height:5px;
                                width:5px;
                                font-size: 18px;
                                font-weight:900;
                                color:#223F80;
                            }
                        }
                    }
                }
            }

            #tasks{
                padding:15px 15px;
                min-height:150px;
                height:fit-content;
                width:100%;
                background: white;
                
                #taskEmpty{
                    display:none;
                    margin-top:70px;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #B8B8B8;
                }
                #nonEmpty{
                    // display:none;
                    .task{
                        margin:20px 0px;
                        @include flex(row,space-around,center);
                        .desc{
                            @include flex(column,center,flex-start);
                            #title{
                                margin: 0px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 15px;
                                color: #363636;
                            }
                            #deets{
                                @include flex(row,space-around,center);
                                #name{
                                    margin:0px;
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 10px;
                                    line-height: 12px;
                                    display: flex;
                                    align-items: flex-end;
                                    text-align: center;
                                    color: #A2A2A4;
                                }
                                #due{
                                    margin:0px;
                                    margin-left:5px;
                                    color:white;
                                    padding:3px 4px;
                                    background: rgba(34, 63, 128, 0.3);
                                    border-radius: 6px;
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 8px;
                                    #num_days{
                                        font-weight: 700;
                                        color:#414141;
                                    }
    
                                }
                                
                            }
                            #day{
                                margin-top:3px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 8px;
                                color: #363636;
                            }
                        }
                        .label{
                            @include flex(row,center,center);
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 10px;
                            color: #223F80;
                            p{
                                margin-left:5px;
                            }
                        }
                    }
                }
            }
                
        }

        #overdueDiv{
            margin-top:20px;
            background-color: white;
            width:100%;
            padding:0px 20px;
            @include flex(row,space-between,center);
            p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                color: #BB2230;
            }

        }
    }
    .fixed{
        position:fixed;
        bottom:0;
        background-color: white;
        backdrop-filter: blur(1px);
        height:60px;
        padding: 5px 20px;
        width:100%;
        box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
        @include flex(row,space-around,center);
        .downIconDiv{
            margin:10px;
            padding:0px 20px;
            color:#223F80;
            stroke:#223F80;
            &:hover{
                background: linear-gradient(41.93deg, #223F80 -18.34%, #444584 43.24%, #BB2230 100.33%);
                color:white;
                stroke:white;
                opacity: 0.93;
            }
            border-radius: 13px;
            @include flex(row,center,center);
            p{
                font-family: 'Montserrat';
                font-style: normal;
                color:inherit;
                font-weight: 700;
                font-size: 16px;
                margin-left:10px;
            }
            svg path{
                stroke:inherit;
            }
            svg circle{
                stroke:inherit;
            }
        } 
    }
}


#Tasks{
    font-family: 'Montserrat';
    font-style: normal;
    position:static;
    padding:0px;
    background-color:white ;
    overflow: hidden;
    #navBar{
        @include flex(row,center,center);
        background-color: #223F80;
        width: 100%;
        height:54px;
        p{
            padding-right:40px;
            text-align: center;
            color: white;
            width:90%;

        }
        button{
            margin-left:5px;
        }
    }
    #statusBar{
        width:100vw;
        background-color: transparent;
        height:40px;

        @include flex(row,space-evenly,center);
        #statusButton{
            width:100%;
            font-family: 'Montserrat';
            font-style: normal;
            
            line-height: 15px;
            align-items: flex-end;
            color: #6D7593;
            @include flex(row,flex-start,center);

            .statusButton{
                margin-top:10px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                color: #6D7593;;
                width:33.333%;
                height:32px;
                text-align: center;
            }
            .statusButton:focus{
                color: #223F80;
                border-bottom:1px solid  #223F80;
            }
        }
    }
    #statusBarEdge{
        width:100vw;
        margin:0px;
        border: 1px solid rgba(37, 53, 100, 0.4);
    }
    #main{
        overflow-y:scroll;
        overflow-x:hidden;
        width:100vw;
        height:100%;
        #tasks{
            width:100%;
            background: white;
            #taskEmpty{
                display:none;
                margin-top:70px;
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                color: #B8B8B8;
            }
            #nonEmpty{
                // display:none;
                .task{
                    margin:25px 0px;
                    @include flex(row,space-around,center);
                    .desc{
                        @include flex(column,center,flex-start);
                        #title{
                            margin: 0px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            color: #363636;
                        }
                        #name{
                            margin:0px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 12px;
                            display: flex;
                            align-items: flex-end;
                            text-align: center;
                            color: #A2A2A4;
                        }
                        #day{
                            margin-top:3px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 8px;
                            color:#BB2230; //Pending: #363636 , Completed:#62B16F
                        }
                    }
                    .label{
                        @include flex(row,center,center);
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        color: #223F80;
                        p{
                            margin-left:5px;
                        }
                    }
                }
            }
        }
    }
}



#Client{
    font-family: 'Montserrat';
    font-style: normal;
    position:static;
    padding:0px;
    background-color:#E4E4E4 ;
    overflow: hidden;

    .navbar{
        @include flex(row,space-between,center);
        background-color: white;
        width: 100%;
        height:89px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
        .profile{
            @include flex(none,center,center);
            #profileImg{
                border-radius: 100%;
                height:93%;
                // width:auto;
            }
            
            border-radius: 100%;
            margin:20px;
            width: 60px;
            height: 60px;
            background: #223F80;
        }
        .icons{
            @include flex(row,space-evenly,center);
            width: fit-content;
            height: 100%;
            margin-right:20px;
            .icon{
                margin:8px;
            }
            .iconBox{
                display: block;
                position: relative;
                #notifCircle{
                    display: block;
                    position: absolute;
                    border-radius: 13px;
                    top: 0px;
                    right:0px;
                    width:13px;
                    height:fit-content;
                    border: 2px solid white;
                    path{
                        fill:#BB2230;                    
                    }
                }
            }

        }
    }

    #main{
        background-color: white;
        height:100%;
        @include flex(column,flex-start,center);
        overflow: hidden;
        padding: 0px 10px;
        #info{
            height: 120px;
            width:100vw;
            background: linear-gradient(31.88deg, #223F80 -3.29%, #444584 51.7%, #BB2230 109.03%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            @include flex(column,flex-start,center);
            #portion1{
                height:65px;
                width: 100%;
                @include flex(row,space-between,flex-start);
                #portion1Left{
                    margin:15px 10px;
                    @include flex(row,space-between,flex-start);
                    #deets{
                        @include flex(column,center,flex-start);
                        margin-left:10px;
                        p{
                            margin:0px;
                            padding:0px;
                        }
                        #name{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            color: #FFFFFF;

                        }
                        #designation{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            color: #C2C2C2;
                        }
                        #statusDiv{
                            @include flex(row,flex-start,center);
                            margin:0px;
                            #statusDot{
                                margin-bottom:4px;
                                margin-right: 4px;
                                font-size: 15px;
                                font-weight: 900;
                                color: #6BDA7D;
                            }
                            #statusTxt{
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 10px;
                                color: #6BDA7D
                            }
                        }
                    }
                }

                #portion1Right{
                    margin-top:10px;
                    @include flex(column,flex-start,center);
                    #dateBox{
                        @include flex(row,flex-start,center);
                        #dateTxt{
                            text-align: center;
                            padding:4px 8px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 8px;
                            color: #FFFFFF;
                            background: rgba(255, 255, 255, 0.4);
                            border-radius: 8px;
                        }
                    }
                    #edit{
                        display: none;
                        text-align: center;
                        padding:3px 15px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        color: #223F80;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
                        border-radius: 9px;
                    }
                }
            }
            #portion2{
                width: 100%;
                padding:15px;
                padding-right:50px;
                @include flex(row,flex-end,center);
                .contact{
                    margin:0px 5px;
                    height:25px;
                    width:65px;
                    border: 2px solid #FFFFFF;   //#8A8787
                    border-radius: 17px;
                    @include flex(row,space-around,center);
                    p{
                        color:white; //#8A8787
                        
                    }
                }
            }
        }
        #statusBar{
            width:100vw;
            background-color: transparent;
            height:37px;
            @include flex(row,space-evenly,center);
            #statusButton{
                width:100%;
                font-family: 'Montserrat';
                font-style: normal;
                line-height: 15px;
                align-items: flex-end;
                color: #6D7593;
                @include flex(row,flex-start,center);
                .statusButton{
                    height:40px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #6D7593;;
                    width:33.333%;
                    text-align: center;
                }
                .statusButton:focus{
                    color: #223F80;
                    font-weight: 600;
                    border-bottom:2px solid  #224080b7;
                }
            }
        }
        #statusBarEdge{
            width:100vw;
            margin:0px;
            border: 1px solid rgba(37, 53, 100, 0.4);
        }
    }
}

#infoContent{
    @include flex(column,flex-start,center);
    display:none;
    padding-bottom:40px;
    overflow-y:scroll;
    overflow-x:hidden;
    .infoLabel{
        margin-top:30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: rgba(34, 63, 128, 0.75);
    }
    .infoDiv{
        height:fit-content;
        width:fit-content;
        border: 1px dashed #929292;
        border-radius: 11px;
    }
}

#notesContent{
    #add{
        @include addButton(25px,30px);
    }
    @include flex(row,space-around,flex-start);
    padding:38px 25px;
    padding-bottom:100px;
    overflow-y:scroll;
    overflow-x: hidden;
    // display:none;
    #left{
        @include flex(column,flex-start,center);
        width:46%;
        .note{
            margin:3px;
            width:100%;
            background: #FFFFFF;
            padding:10px;
            border: 1.2px solid #8d8c8c;
            border-radius: 8px;
            #title{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #575757;
            }
            #content{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 9px;
                line-height: 11px;
                display: flex;
                align-items: flex-end;
                color: #7B7B7B;
            }
        }
        
    }
    #right{
        @include flex(column,flex-start,start);
        width:46%;
        .note{
            margin:3px;
            width:100%;
            background: #FFFFFF;
            padding:10px;
            border: 1.2px solid #8d8c8c;
            border-radius: 8px;
            #title{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #575757;
            }
            #content{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 9px;
                line-height: 11px;
                display: flex;
                align-items: flex-end;
                color: #7B7B7B   
            }
        }
    }
}


#notesPg{
    overflow:hidden;
    @include flex(column, flex-start , flex-start);
    padding:20px;
    overflow:scroll;
    height: 100vh;
    #backButton{
        padding:0px;
        width:100%;
        margin-top:40px;
        button svg path{
            fill:#223F80;
        }
    }

    input{
        width:100%;
        border:none;
        font-family: 'Montserrat';
        margin-top:36px;
        margin-left:10px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        border:none;
    }

    textarea{
        overflow:hidden;
        width:100%;
        border:none;
        height:80%;
        margin-left:10px;
        // text-overflow: clip;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 20px;
        margin-top: 5px;
        padding: 4px;
        color: #000000;
        &:focus{
            outline:none;
        }
    }
}

.grid-container {
    width: 240px;
    border: 1.5px dashed #929292;
    border-radius: 11px;
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 25px;
}
.grid-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(34, 63, 128, 0.4);
    padding: 5px;
}

.info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #223F80;
}

.emptyInfo{
    font-size:14px;
    font-weight: 700;
    text-align:center;
}

.tickBox{
    padding-left: 20px;
    margin-top:40px;
    display: flex;
    flex-direction: row;
    .tickButton{
        @include flex(row,center,center);
        margin:10px;
        border: 2px solid #B8B8B8;
        width:18px;
        height:18px;
        border-radius: 3px;
        margin-top: 4px;
    }

}



.flex-row{
    @include flex(row,center,center);
}

.down{
    margin-top:3px;
}

.flex-column{
    @include flex(column,center,center);
}



::-webkit-scrollbar{
    display: none;
}


textarea {
    resize: none;
    width: 100%;
    min-height: 50px;
    padding:5px;
    text-align:left;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 18px;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: black;
    opacity: 1;
    display: block;
    background: url("../images/calendar.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }