@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
input::-moz-placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}
input::placeholder {
  color: #B8B8B8;
  font-weight: normal;
  opacity: 1;
}

input {
  border: 2px solid #B8B8B8;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.grayText {
  color: #8B8B8B;
}

.grayText {
  color: #8B8B8B;
}

.password {
  border: none;
}

div :has(> .password:focus) {
  border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* this is applicable for firefox */
/* input[type=number]{
    -moz-appearance: textfield;
} */
#samplephone {
  font-weight: 550;
}

#p1 {
  font-weight: 620;
  width: 280px;
  line-height: 1.2;
}

.otp_num {
  font-weight: 600;
}

hr {
  border-width: 1.5px;
  border-color: #B8B8B8;
}

.heading {
  font-weight: 500;
}

.button {
  background: linear-gradient(10.16deg, #223F80 14.89%, #444584 50.99%, #BB2230 100.81%);
  transition-duration: 1s;
  width: 100%;
  transition-duration: 1s;
  width: 100%;
  height: 50px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: white;
  color: white;
  border-radius: 12px;
  opacity: 0.9;
}

.button:hover {
  box-shadow: none;
  scale: 0.95;
}

a {
  cursor: pointer;
}

.eye path {
  stroke: #B8B8B8;
}

.eye:hover path {
  stroke: #223F80;
}

#password {
  font-weight: 400;
}

.invalid {
  /* visibility: visible; */
  color: #BB2230;
  font-size: 12px;
  margin: 0px;
}

li::marker {
  font-size: 10px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

.grid-container {
  width: 240px;
  border: 1.5px dashed #929292;
  border-radius: 11px;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.grid-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(34, 63, 128, 0.4);
  padding: 5px;
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #223F80;
}

.emptyInfo {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.tickBox {
  padding-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.tickBox .tickButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid #B8B8B8;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-top: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down {
  margin-top: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
}

.mobBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.mobBox p {
  margin: 0px;
}
.mobBox .required {
  margin-left: 3px;
  color: #BB2230;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: black;
  opacity: 1;
  display: block;
  background: url("../images/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

#monthly_view {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
#monthly_view #topBar {
  width: 100vw;
  height: 54px;
  background: #223F80;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
#monthly_view #topBar p {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin-right: 60px;
  color: #FFFFFF;
}
#monthly_view .calendar {
  width: 100vw;
  height: 250px;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 2px solid #dbdbdb;
}
#monthly_view .calendar .month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}
#monthly_view .calendar .month #month_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #3F3F3F;
}
#monthly_view .calendar .month .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0a3d62;
  width: 40px;
  height: 40px;
  margin: 0px 20px;
  border-radius: 40px;
  transition-duration: 0.2s;
  position: relative;
}
#monthly_view .calendar .month .nav:hover {
  background: #eee;
}
#monthly_view .calendar .days {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #929292;
  margin-bottom: 15px;
}
#monthly_view .calendar .days span {
  width: 50px;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#monthly_view .calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#monthly_view .calendar .dates button {
  cursor: pointer;
  padding: 5px;
  outline: 0;
  border: 0;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 2px;
  transition-duration: 0.2s;
}
#monthly_view .calendar .dates button.today, #monthly_view .calendar .dates button.hasTasks {
  background: rgba(34, 63, 128, 0.4);
  border-radius: 3px;
}
#monthly_view .calendar .dates button:first-child {
  grid-column: 3;
}
#monthly_view #main {
  padding-bottom: 90px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
#monthly_view #main #tasks {
  padding: 15px 15px;
  min-height: 150px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#monthly_view #main #tasks #taskEmpty {
  margin-top: 70px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #B8B8B8;
}
#monthly_view #main #tasks #nonEmpty {
  width: 100%;
}
#monthly_view #main #tasks #nonEmpty .task {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#monthly_view #main #tasks #nonEmpty .task .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#monthly_view #main #tasks #nonEmpty .task .desc #title {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #363636;
}
#monthly_view #main #tasks #nonEmpty .task .desc #deets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#monthly_view #main #tasks #nonEmpty .task .desc #deets #name {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #A2A2A4;
}
#monthly_view #main #tasks #nonEmpty .task .desc #deets #due {
  margin: 0px;
  margin-left: 5px;
  color: white;
  padding: 3px 4px;
  background: rgba(34, 63, 128, 0.3);
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
}
#monthly_view #main #tasks #nonEmpty .task .desc #deets #due #num_days {
  font-weight: 700;
  color: #414141;
}
#monthly_view #main #tasks #nonEmpty .task .desc #day {
  margin-top: 3px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #363636;
}
#monthly_view #main #tasks #nonEmpty .task .label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #223F80;
}
#monthly_view #main #tasks #nonEmpty .task .label p {
  margin-left: 5px;
}
#monthly_view #main #completedTaskScreen, #monthly_view #main #snoozeTaskScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv, #monthly_view #main #completedTaskScreen #snoozeTaskDiv, #monthly_view #main #snoozeTaskScreen #completedTaskDiv, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv {
  position: relative;
  width: 330px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 15px;
  background-color: white;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion1, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion1, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion1, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion1 #closeIcon, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion1 #closeIcon, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion1 #closeIcon, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion1 #closeIcon {
  border-radius: 20px;
  height: 24px;
  margin: 10px;
  padding: 0px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion1 #delete, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion1 #delete, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion1 #delete, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion1 #delete {
  margin: 10px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #title, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #title, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #title, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #title {
  border: none;
  border-bottom: 2px solid #223F80;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 input, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 input, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 input, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 input {
  width: 232px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #desc, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #desc, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #desc, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #desc {
  margin-top: 20px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #desc:focus, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #desc:focus, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #desc:focus, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #desc:focus {
  outline: none;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #fieldDiv, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #fieldDiv, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #fieldDiv {
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv .field, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #fieldDiv .field, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #fieldDiv .field, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #fieldDiv .field {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv .field input, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #fieldDiv .field input, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #fieldDiv .field input, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #fieldDiv .field input {
  padding: 5px;
  width: 300px;
  height: 18px;
  border: 1.5px solid #B8B8B8;
  border-radius: 8px;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv p, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #fieldDiv p, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #fieldDiv p, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #fieldDiv p {
  margin-top: 40px;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: start;
  font-size: 14px;
  color: #223F80;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #fieldDiv p a, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #fieldDiv p a, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #fieldDiv p a, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #fieldDiv p a {
  color: #BB2230;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #outcome, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #outcome, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #outcome, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #outcome {
  margin-top: 0px;
  width: 230px;
  height: 68px;
  border: 1.5px solid #B8B8B8;
  border-radius: 15px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #223F80;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #portion2 #outcome:focus, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #portion2 #outcome:focus, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #portion2 #outcome:focus, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #portion2 #outcome:focus {
  outline: none;
}
#monthly_view #main #completedTaskScreen #completedTaskDiv #save, #monthly_view #main #completedTaskScreen #snoozeTaskDiv #save, #monthly_view #main #snoozeTaskScreen #completedTaskDiv #save, #monthly_view #main #snoozeTaskScreen #snoozeTaskDiv #save {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #929292;
}

i {
  font-style: normal;
  font-family: "Montserrat";
}/*# sourceMappingURL=months.css.map */