@import 'main';

#notesPg{
    overflow:hidden;
    @include flex(column, flex-start , flex-start);
    padding:20px;
    height: 100vh;
    position: absolute;
    top:0px;
    z-index: 1;    
    background: white;
    #backButton{
        padding:0px;
        width:100%;
        margin-top:40px;
        button svg path{
            fill:#223F80;
        }
    }

    input{
        width:100%;
        border:none;
        font-family: 'Montserrat';
        margin-top:36px;
        // margin-left:10px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        border:none;
    }

    textarea{
        overflow-y:scroll;
        width:100%;
        border:none;
        height:80%;
        // margin-left:10px;
        // text-overflow: clip;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 20px;
        margin-top: 5px;
        padding: 4px;
        color: #000000;
        &:focus{
            outline:none;
        }
    }
}