@import 'main';

#signUpPg{
    @include flex(column,flex-start,center);
    background: linear-gradient(221.38deg, #BB2230 1.49%, #444584 55.55%, #1E2E5A 95.91%);
    padding: 20px 10px;
    overflow-x: hidden;
    #SignUpFormDiv{
        margin:30px 0px;
        @include flex(column,center,center);
        background-color: white;
        border-radius: 12px;
        width: 340px;
        box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.25);
        #SignUpTextDiv{
            width: 100%;
            #SignUpText{
                color:#223F80;
                font-weight: 500;
                font-size: 22px;
                padding:0px 40px;
            }
        }
        #fieldBox{
            background-color: white;
            .label{
                color:#223F80;
                font-weight: 500;
                font-size: 14px;
                padding:5px;
                margin:0px;
            }
            #mobileLabel{
                font-weight: 500;
                font-size: 14px;
                padding:5px;
                margin:0px;
                color: #929292;
            }
            .signUpField{
                border: 2px solid #B8B8B8;
                border-radius: 12px;
                padding-left:10px;
                width: 272px;
                height:40px;
                font-weight:400;
            }       

            

            .passwordDiv{
                p{
                    margin:0px;
                    color:#223F80;
                    font-weight: 500;
                    font-size: 14px;
                    padding:5px;
                }
                .passwordBox{
                    @include flex(row,none,center);
                    border: 2px solid #B8B8B8;
                    border-radius: 12px;
                    padding-left:5px;
                    height:40px;
                    #numberLabel{
                        color:#B8B8B8;
                        font-weight: 500;
                        font-size: 14px;
                        padding:5px;
                    } 
                    .passwordField{
                        font-weight: 400;
                        padding:5px;
                        width: 100%;
                        border-radius:12px;
                    } 
                    img{
                        margin:6px;
                    }
                }
            }

            #constraintDiv{
                margin-left:20px;
                #title{
                    margin:0px;
                    color:#8B8B8B;
                    font-size: small;
                    font-weight: 600;
                }
                #constraints{
                    margin-left:20px;
                    #constraintText{
                        color:#8B8B8B;
                        font-size: small;
                        font-weight: 400;
                    }
                }
            }
            .tickBox{
                margin-top: 20px;
                padding: 0px;
                margin-bottom:0px;
                height:fit-content;
                font-size: 12px;
                p{
                    text-align:center;
                    color: #B8B8B8;
                    margin-top:5px;
                    font-size: small;
                    height:fit-content;
                    a{
                        text-decoration-line: underline;
                        color:#223F80;
                    }
                }
                .tickButton{
                    margin-top:8px;
                    margin-bottom:0px;
                    width: 18px; 
                    height: 18px;
                }
        
            }
            .invalid{
                font-size: small;
                margin-left:8px;
            }
            #invalidTC{
                margin-top:0px;
            }
            
            #Button{
                @include button1(100%, 50px, 20px, 0px, 400, 18px);
                margin-bottom: 40px;
            }

        }

    }
}