body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custome-step .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #6BDA7D !important;
  width:2px;
}

#check .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #6BDA7D !important;
  width:2px;
}

#check .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail:after {
  width:2px;
}

.custome-step .ant-steps-item-process .ant-steps-item-icon svg{ 
  border-radius: 100%;
  background: #6BDA7D; 
  border:none;
}

.custome-step .ant-steps-item-process .ant-steps-item-icon svg path{ 
  fill:white;
  border:none;
}

.custome-step .ant-steps-item-finish .ant-steps-item-icon svg{ 
  border-radius: 100%;
  background: #6BDA7D; 
  border:none;
}

.custome-step .ant-steps-item-finish .ant-steps-item-icon svg path{ 
  fill:white;
  border:none;
}

