<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
                backgroundImage: (theme) => ({
                    'scene1': "{{url_for('static',filename='images/weathered_golden_monkey.png')}}",
                }),
              colors: {
                coral: "#BE1E2D", //bottom gradient
                L_blue: "#58C4C4",
                _blue: "#2B388F", //top gradient
              }
            }
          }
        }
      </script>
    <title>Sign-up</title>
</head>

<body>
    <nav class="w-full h-16 py-3 px-4 align-center bg-white rounded-b-xl shadow-md fixed">
      <img src="../static/images/VITTAE_logo.png" alt="vittae logo" class="h-10">
    </nav>
    <section class=" h-screen">
      {% block content %} {% endblock %}
    </section>
    
</body>



</html>
