input::placeholder {
    font-weight:normal;
    opacity: 1;
}

input{
    border:2px solid #B8B8B8;

}
input:focus{
    border-color: #223F80;

    outline: none;
}

.password{
    border:none;
}

div :has( > .password:focus){
    border: 2px solid #223F80;
}

/* to remove the feature to scroll through numbers in a number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;

}

/* this is applicable for firefox */
input[type=number]{
    -moz-appearance: textfield;
}

#samplephone{
    font-weight: 550;
}

#p1{
    font-weight: 620;
    width: 280px;
    line-height: 1.2;
}

.otp_num{
    font-weight: 600;
}

hr{
    border-width: 1.5px;
    border-color: #B8B8B8;
}

.heading{
    font-weight:500;
}

.button{
    background: linear-gradient(243.49deg, #BB2230 -0.34%, #BB2230 -0.33%, #444584 47.45%, #1E2E5A 96.1%);
    transition-duration: 1.5s;
    width: 260px;
    height:50px;
    font-weight:600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
}


.button:hover{
    box-shadow:none;
}


a{
    cursor:pointer;
}


.eye path{
    stroke: #B8B8B8;
    
}

.eye:hover path{
    stroke:#223F80;
}

#password{
    font-weight:400;
}

.invalid{
    visibility: hidden;
}


li::marker{
    font-size: 10px;
}